body:fullscreen {
    overflow: scroll !important;
  }
  body:-ms-fullscreen {
    overflow: scroll !important;
  }
  body:-webkit-full-screen {
    overflow: scroll !important;
  }
  body:-moz-full-screen {
    overflow: scroll !important;
  }

  .code_sourse{
    display: flex; 
    color: rgb(54, 117, 162);
    /* font-weight: bold; */
    font-size: 16px;
    list-style-type: none; 
    margin-left: 80px;
    vertical-align: middle;
    color: white;
  }
  .sourse_ico{
    margin-left: 15px;
    width: 60px;
    height: 25px;
    border: 1px solid #00ff8c;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    overflow:  hidden;
   font-size: 18px;
 color: white;
 background-color: #00ff8c;
  }
  .sourse_ico i{
    margin-left: 5px;
  }
  .sourse_ico span{
    display: none;
  }
  .sourse_ico:hover{
    background-color: #00ff8c;
    width: 140px;
    box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
    
  }
  .sourse_ico:hover span{
    display: inline-block;
  }

  .project_create_date{
    color: #777777;
    text-decoration: none;
    margin-left: 80px;
    font-size: medium;
    padding-top: 30px;
    padding-bottom: 0px;
  }

  
.zoom_img{
  transition: transform .2s;
}
  .zoom_img:hover{
    transform: scale(1.5); 
    /* margin-left: 50px;
    margin-top: 50px; */
  }

  /* light mode */

  /*Light mode*/

.light-mode {
    position: fixed;
    /* visibility: hidden;   */
    opacity: 1;
    right: 15px;
    top: 15px;
    z-index: 1996;
    background: #0a0b0b;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.light-mode i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.light-mode:hover {
    background: #0678e3;
    color: #fff;
}

.light-mode.active {
    visibility: visible;
    opacity: 1;
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  [data-aos-delay] {
      transition-delay: 0 !important;
  }
}